{% extends 'main/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card">
            <img class="card-img-top" src="{{ object.image.url }}" height="400px" width="200px">
            <div class="card-body" align="center">
                <h4 class="card-title">{{object.title | title | truncatewords:30}}</h4>
                <p>{{object.date}}</p>
            </div>
            <div class="card-body" align="center">
                <a href="{% url 'blogs:detail_blog' object.pk %}" class="card-link">Подробнее</a>
                {% if user == object.author or is_manager %}
                <a href="{% url 'blogs:update_blog' object.pk %}" class="card-link">Изменить</a>
                <a href="{% url 'blogs:delete_blog' object.pk %}" class="card-link">Удалить</a>
                {% endif %}
            </div>
            <div class="like_views like_views--inActionPanel" role="img"
            ">
            <span class="like_views__icon "><svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                                 xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path
                    d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path><path clip-rule="evenodd"
                                                                                 d="M15.5 8c0-1-3-5-7.5-5S.5 7 .5 8s3 5 7.5 5 7.5-4 7.5-5zm-4 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
                                                                                 fill-rule="evenodd"></path></g></svg></span>
            <span class="_views">{{object.views}}</span>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}