{% load custom_filters %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company Name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#"></a>
        <a class="p-2 text-dark" href="{% url 'main:home'%}">Главная</a>
        <a class="p-2 text-dark" href="{% url 'blogs:blogs' %}">Блог</a>
        <a class="p-2 text-dark" href="{% url 'blogs:blogs_create' %}">Создать Блог</a>
        <a class="p-2 text-dark" href="{% url 'main:create_user' %}">Добавить пользователя</a>
        <a class="p-2 text-dark" href="{% url 'main:create_mail' %}">Добавить рассылку</a>
        <a class="p-2 text-dark" href="{% url 'main:mails' %}">Просмотр рассылок</a>
        <a class="p-2 text-dark" href="{% url 'main:users' %}">Просмотр клиентов</a>
        {% if user.is_authenticated %}
        {% if user|has_permission:'users.view_user' %}
            <a class="p-2 text-dark" href="{% url 'users:view_users' %}">Просмотр пользователей</a>
        {% endif %}
        <a class="btn btn-outline-dark mr-1" href="{% url 'users:profile' %}" style="height: 34px; font-size:14px">Профиль</a>
        <img class="profile-img" src="{{user.avatar.url}}" alt="User Image" height="35px" width="35px">
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'users:register' %}">Зарегистрироваться</a>
        <a class="btn btn-outline" href="{% url 'users:login' %}">Войти</a>
        {% endif %}
</div>